@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input {
    @apply border border-neutral-400 px-5 rounded-md focus:border-neutral-900 focus:outline-none focus:border;
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: 3px 3px 30px #cac8c8;
  }
}
